@{
	ViewData["Title"] = "Shift";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var locationId = ViewBag.locationId;
}
<style>
	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}
	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}
</style>
<!-- Main Wrapper -->
<div class="main-wrapper">
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Shifts</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Shifts</li>
						</ul>
					</div>
					<div class="col-auto float-right ml-auto">
						<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_Shift"><i class="fa fa-plus"></i> Add Shift</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<ul class="list-unstyled">
							  <li class="list-style-type-none">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>S/N</th>
											<th>Sunday</th>
											<th>Monday</th>
											<th>Tuesday</th>
											<th>Wednesday</th>
											<th>Thursday</th>
											<th>Friday</th>
											<th>Saturday</th>
										</tr>
									</thead>
									<tbody id="myShiftTableBody">
									</tbody>
								</table>
								<button id="add_items">Add Row</button>
							  </li>
					    </ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Add copy Modal -->
		<div id="add_Shift" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Shift</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Shift Name <span class="text-danger">*</span></label>
									<input class="form-control" type="text" id="shiftName">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Abbreviated Shift Name <span class="text-danger">*</span></label>
									<input class="form-control" type="text" id="abbreviationlocationName">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Start Time <span class="text-danger">*</span></label>
									<input class="form-control" type="time" id="start_TimeId">
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">End Time <span class="text-danger">*</span></label>
									<input class="form-control" type="time" id="end_TimeId">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Is Fixed Shift<span class="text-danger">*</span></label>
									<input class="form-control" type="checkbox" id="fixedId">
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Fixed Amount <span class="text-danger">*</span></label>
									<input class="form-control" type="number" id="fixedAmountId">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Location <span class="text-danger">*</span></label>
									<div>
										<select id="locationId" style="width:100%" asp-items="@(new SelectList(ViewBag.Location ,"Id", "Name" ))" class="form-control"> </select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Unpaid Time<span class="text-danger">*</span></label>
									<input class="form-control" type="time" id="unpaid_TimeId">
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn" id="submit_btn" onclick="addShift()">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add copy Modal -->
	</div>
	<!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->