@{
    ViewData["Title"] = "Human Resources Management System";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Manage your Hr in one Central place</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Well Structured App that helps you manage your employees with much ease, efficiency, and accuracy</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/FlexStart/assets/img/hero-img" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Sm_Resource_Planning At A Glance</h3>
                        <h2>Sm_Resource_Planning has the best Human Resources Management System that can suit any organization</h2>
                        <p>
                            Sm_Resource_Planning Software will be responsible for creating, putting into effect, and overseeing policies governing workers and the organization's relationship with its employees.
                        </p>
                        <div class="text-center text-lg-start">
                            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Read More</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/FlexStart/assets/img/about.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Our Values</h2>
                <p> Sm_Resource_Planning Offers The Following Values</p>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="~/FlexStart/assets/img/values-1.png" class="img-fluid" alt="">
                        <h3>Active Team Work</h3>
                        <p>Utilize strong, user-friendly tools to enhance cooperation and staff communicaton</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="~/FlexStart/assets/img/values-2.png" class="img-fluid" alt="">
                        <h3>Save Valuable Time and Maximize Work Time</h3>
                        <p>
                            Sm_Resource_Planning will help you free up more time for other engagements while controlling the daily
                            Hr Admin such as leave requests,payroll,rota system and managing schedule.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="~/FlexStart/assets/img/values-3.png" class="img-fluid" alt="">
                        <h3>Secure Your Data</h3>
                        <p>With Sm_Resource_Planning software, you are assured of maximum security of your personal information. Need not worry because your data are intact.</p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Values Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Sm_Resource_Planning Software Solution</h2>
                <p>We Operate A Simple And Intelligent Sm_Resource_Planning</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <img src="~/FlexStart/assets/img/features.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Project Management</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Payroll Integration </h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Leave </h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Scheduling System</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Document Manager</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Employee Management</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Company Announcement</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Maintenance & Support</h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- / row -->
            <!-- Feature Tabs -->
            <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-7">
                    <h3>Run Your Business Effortlessly With A Work-Made Easy App</h3>

                    <!-- Tabs -->
                    <ul class="nav nav-pills mb-3">
                        <li>
                            <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Scheduler</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab2">Document Management</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab3">Employee Management</a>
                        </li>
                    </ul><!-- End Tabs -->
                    <!-- Tab Content -->
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab1">
                            <p>
                                Our app scheduling system is the best way to manage employee and job schedules, as well as book appointments with clients, unlike the normal manual technique; It helps send out notifications and reminders
                                automatically without taking much of your time or distracting you from your business.
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Manage the cyclical nature of week-to-week time management</h4>
                            </div>
                            <p>Sm_Resource_Planning has a smart and flexible tool to schedule shifts in your organization by tracking time and attendance, improving team communication, approve time off.</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Rota makes the placing of tasks easy to access</h4>
                            </div>
                            <p>Build your employees’ schedules in minutes and manage time off, availability, and shift trade requests</p>
                        </div><!-- End Tab 1 Content -->

                        <div class="tab-pane fade show" id="tab2">
                            <p>Document management systems can send, store, manage and track electronic documents in any file format and images of paper-based documents through BiviHr software</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Achieve a paperless office</h4>
                            </div>
                            <p>With Sm_Resource_Planning no more paper in the office, no more lost documents, printing headaches and overflowing file cabinets.</p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>It’s time to save your documents</h4>
                            </div>
                            <p>
                                More than ever, your organization/business needs a safe, secure home for critical business documents. Employee information, financial records, contracts and more
                                require an organized, secure repository that protects what must not be lost, stolen or compromised.
                            </p>
                        </div><!-- End Tab 2 Content -->

                        <div class="tab-pane fade show" id="tab3">
                            <p>
                                With our employee management tool, your Organization can process your new hires seamlessly which leads to following
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Employee self-Access</h4>
                            </div>
                            <p>
                                Allow employees to submit documents, manage their profile, connect with their peers, and have productive discussions
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Keep your team informed, and engaged</h4>
                            </div>
                            <p>
                                Bring all team communication under one secure roof. Keep your team updated on present information and never worry about requesting employee personal phone numbers again
                            </p>
                        </div><!-- End Tab 3 Content -->

                    </div>

                </div>

                <div class="col-lg-5">
                    <img src="~/FlexStart/assets/img/features-2.png" class="img-fluid" alt="">
                </div>

            </div><!-- End Feature Tabs -->
        </div>

    </section><!-- End Features Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Features</h2>
                <p>
                    Sm_Resource_Planning Has The Best HRMS Software Solution
                </p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Scheduling Management</h3>
                        <p>
                            Set a schedule in a few minutes, publish it and your employee gets a notification about the task assigned to him/her
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Employee Management</h3>
                        <p>
                            Keep a record of your employee including their job role, employment compliance, and much more..
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Company Announcement</h3>
                        <p>
                            Reach out to everyone in your team, in a central place without reaching them one by one
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Payroll Management</h3>
                        <p>
                            With Sm_Resource_Planning you can Lessen time spent paying your staff, generate quick Payslip, approve a payment,
                            and stay tractable
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Project Management</h3>
                        <p>
                            Our Project Management is designed to relieve users of the burden to plan and set deadlines,have easy access to the
                            previous achievement,track and assign tasks effectively.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Leave Management</h3>
                        <p>
                            with Sm_Resource_Planning you can operate a system that can apply, approve, reject and manage leave requests from any place, at any time.
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Services Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>F.A.Q</h2>
                <p>Frequently Asked Questions</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    What Is Sm_Resource_Planning?
                                </button>
                            </h2>
                            <div id="faq-content-1" class="accordion-collapse collapse px-3" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Sm_Resource_Planning is a human resource management system(HRMS) responsible for creating, putting into effect, and overseeing policies
                                    governing workers and the organization's relationship with its employees.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                    How do I get started with Sm_Resource_Planning?
                                </button>
                            </h2>
                            <div id="faq-content-2" class="accordion-collapse collapse px-3" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    To get started reach out to us through <a href="hello@bivisoft.com">hello@Sm_Resource_Planning.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                    Can I log in from my phone?
                                </button>
                            </h2>
                            <div id="faq-content-3" class="accordion-collapse collapse px-3" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Yes,  Admin, Managers and staff can log in and can navigate using their phones or any device.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">

                    <!-- F.A.Q List 2-->
                    <div class="accordion accordion-flush" id="faqlist2">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                    Is BiviHR Suitable for Any Kind of Company?
                                </button>
                            </h2>
                            <div id="faq2-content-1" class="accordion-collapse collapse px-3" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Yes, it is suitable for any company but if you need any adjustment contact BiviHr  using <a href="hello@bivisoft.com">hello@Sm_Resource_Planning.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                    What Does Sm_Resource_Planning Software Offer?
                                </button>
                            </h2>
                            <div id="faq2-content-2" class="accordion-collapse collapse px-3" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Sm_Resource_Planning  software app is a technology that helps you automate and simplify your complex human resource processes and manage
                                    them without any human intervention and allows online onboarding.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                    Do you offer a demo?
                                </button>
                            </h2>
                            <div id="faq2-content-3" class="accordion-collapse collapse px-3" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Yes, we offer demos; and you can do that by clicking the “book a demo” button below.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section><!-- End F.A.Q Section -->

</main><!-- End #main -->