

 @using static Core.Enums.Resource_Planing
@model Core.ViewModels.GetAllShiftForAdmin

@{
    ViewData["Title"] = "Assigned Shifts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Assigned Shifts</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                       @*  <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Employee</th>
                                <th>Shift</th>
                                <th>Location</th>
                                @for (int i = 0; i < 7; i++)
                                {
                                    <th>@DateTime.Now.AddDays(i).ToString("dddd")</th>
                                }
                                <th>Total Planned Hours</th>
                            </tr>
                        </thead> *@
                        <tbody id="leave">
                            @Html.Raw(Model.ShiftTableHtml)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


