@inject Logic.IHelpers.IUserHelper _userHelper;

@model Core.Models.EmployeeLeave
@{


    ViewData["Title"] = "Leave Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";



    var tableUpdate = _userHelper.GetAllLeave(User.Identity.Name);
}

<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Leave Report</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Leave Report</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="#" class="btn btn-primary">PDF</a>
                </div>
            </div>
        </div>
        @if (tableUpdate.Count() == 0)
        {
            <h2 class="text-center text-primary">No leave yet</h2>
        }
        else
        {
            <!-- /Page Header -->
            <!-- Search Filter -->
            <div class="row filter-row mb-4">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <input class="form-control floating" type="text">
                        <label class="focus-label">Employee</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus select-focus">
                        <select class="select floating form-control">
                        </select>
                        <label class="focus-label">Department</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text">
                        </div>
                        <label class="focus-label">From</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text">
                        </div>
                        <label class="focus-label">To</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="btn btn-success btn-block"> Search </a>
                </div>
            </div>
            <!-- /Search Filter -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Date</th>
                                    <th>Department</th>
                                    <th>Leave Type</th>
                                    <th>No.of Days</th>
                                    <th>Remaining Leave</th>
                                    <th>Total Leaves</th>
                                    <th>Total Leave Taken</th>
                                    <th>Leave Carry Forward</th>
                                </tr>
                            </thead>
                            @foreach (var obj in tableUpdate)
                            {
                                <tbody>

                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                                <a href="profile.html"><span></span></a>
                                            </h2>
                                        </td>
                                        <td>add migration for dateApplied</td>
                                        <td></td>
                                        <td class="text-center">
                                            <button class="btn btn-outline-info btn-sm" id="numberOfdays">@obj.Name</button>
                                        </td>


                                        <td class="text-center"><span class="btn btn-warning btn-sm"><b></b></span></td>
                                        <td class="text-center"><span class="btn btn-success btn-sm"><b></b></span></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>

                                </tbody>

                            }

                        </table>
                    </div>
                </div>
            </div>

        }
    </div>
    <!-- /Page Content -->

</div>


<script type="text/javascript">

    $("#numberOfDays").click(function () {
        $("#numberOfDays").alert("Handler for .select() called.");
    });


</script>  <!-- /Page Wrapper -->

<script>


    const date2 = new Date('02 Feb 1996 03:04:05 GMT');

    const date3 = new Date('02 Feb 1997 03:04:05 GMT');
    const dd = date3.valueOf()
    const d = date2.valueOf()
    const ddd = dd - d
    console.log(dd);
    console.log(d);
    console.log(ddd);
    const date4 = new Date(ddd);
    console.log(date4
</script>
